<h1 class="h2">Contacts</h1>
<div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><i class="bi-envelope" style="font-size: 1.5rem;"> </i><a href="mailto:rjlucienaina@gmail.com">rjlucienaina@gmail.com</a></li>
        <li class="list-group-item"><i class="bi-envelope" style="font-size: 1.5rem;"> </i><a href="mailto:lucien.randrianantenaina@aims-cameroon.org">lucien.randrianantenaina@aims-cameroon.org</a></li>
        <li class="list-group-item"><i class="bi-telephone" style="font-size: 1.5rem;"> </i><a href="tel:+261345898164">+261 345 898 164</a></li>
        <li class="list-group-item"><i class="bi-geo-alt-fill" style="font-size: 1.5rem;"> </i> Crystal Garden, Cameroon, P.O BOX 306.</li>
        <li class="list-group-item"><i class="bi-geo-alt-fill" style="font-size: 1.5rem;"> </i>Lot 03A/BA Beravina Fianarantsoa, Madagascar.</li>
      </ul>
</div>