<h1 class="h2">Works and projects</h1>
<div>
    <span class="h4">Academic project</span>
    <div>
<dt class="col-sm-2">Mini-project Bachelor </dt>
  <dd class="col-sm-10">
    <p class="mb-1"> Master 2, in Fundamental Mathematics</p>
    <p class="mb-1"> Faculty of Science, University of Fianarantsoa, Madagascar</p>
    <p>All modules completed, but program interrupted due to external circumstances.</p>
  </dd>
    </div>
</div>
<div>
    <span class="h4">Pubilcations</span>
</div>
<div>
    <span class="h4">Personal Projects</span>
</div>