// Wide
@include media-xl {
}

//desktop
@include media-lg {
}

//tablet
@include media-md {
  div#top-banner {
    grid-template-areas:
      "avatar"
      "name";
    grid-template-columns: repeat(1, fr);

	.avatar {
		min-width: 100px;
		max-width: 200px;
		width: 100%;
		margin: auto;
		border-radius: 50%;
		border: 5px solid $secondary-color;
	  }

	  .title{
		text-align: center;
		.lg-title{
			font-size: clamp(2rem,2.5rem,5%);
		}
	  }


  }

  main {
    align-items: center;
    text-align: center;
  }

  .menu {
    height: 100%;
    flex-direction: column;
    &-nav {
      transform: translate3d(-100vw, 0, 0);
    }

    &-avatar {
      transform: translate3d(100vw, 0, 0);
      min-height: 250px;
      height: 260px;

      .avatar {
        width: 200px;
        height: 200px;
        background-size: 100%;
        background-position: center;
      }
    }

    &-nav-item {
      transform: translateY(100vw);
      &.show {
        transform: translateY(0);
      }
    }

    &-nav,
    &-avatar {
      width: 100%;
      &.show {
        transform: translate3d(0, 0, 0);
      }
    }
  }

  section#intersts, section#skills {
    .progressbar {
      display: grid;
      grid-gap: 5%;
      grid-template-areas: "c1" "c2";

      .card-1 {
        grid-area: c1;
      }

      .card-2 {
        grid-area: c2;
      }
    }
  }
}

// smartphone
@include media-sm {
  main#home {
    .lg-title {
      font-size: 1.5rem;
    }

    .sm-title {
      font-size: 0.9rem;
    }
  }
  .container {
	width: 100%;
	margin: auto;
  }
}
