// Wide
@include media-xl {
}

//desktop
@include media-lg {
}

//tablet
@include media-md {
  div#top-banner {
    grid-template-areas:
      "avatar"
      "title";
    grid-gap: 5%;
    .avatar {
      min-width: 100px;
      max-width: 200px;
      width: 100%;
      margin: auto;
      border-radius: 50%;
      border: 5px solid $secondary-color;
    }

    .title {
      text-align: center;
      .lg-title {
        font-size: clamp(1.5rem, 2vw, 2rem);
      }
    }
  }

  .menu {
    height: 100%;
    flex-direction: column;
    &-nav {
      transform: translate3d(-100vw, 0, 0);
    }

    &-avatar {
      transform: translate3d(100vw, 0, 0);
      min-height: 250px;
      height: 260px;

      .avatar {
        width: 200px;
        height: 200px;
        background-size: 100%;
        background-position: center;
      }
    }

    &-nav-item {
      transform: translateY(100vw);
      &.show {
        transform: translateY(0);
      }
    }

    &-nav,
    &-avatar {
      width: 80%;
      &.show {
        transform: translate3d(0, 0, 0);
      }
    }
  }

  section#intersts,
  section#skills {
    .progressbar {
      flex-direction: column;
      .card-1, .card-2{
        width: 100%;
      }
    }
  }

  section#project{
    .wrapper{
    .project{
      width: 100%;
    }
  }
  }

  .container {
    width: 95%;
    margin: auto;
  }
}

// smartphone
@include media-sm {
  section{
  .wrapper{
    padding-left: 0.5rem ;
    padding-right: 0.5rem;
  }
}
  .container {
    width: 95%;
    margin: auto;
  }
}
