@import "config";
@import "menu";

.theme--default{
  background-color: $bg--light;
}
.theme--dark{
  background-color: $bg--dark;
}

a{
  @include themed(){
    color: t($link);
  }
  &:hover{
    @include themed(){
      color: t($hover);
    }
  }
}

.big-icon-link {
  display: inline-block;
  font-size: 2rem;
  &:hover {
    transform: scale(1.5);
    @include easeOutall();
  }
}
.container {
  min-width: 250px;
  width: 75%;
  max-width: 960px;
  margin: auto;
}

/* treejs space reservation */
#particle {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Top banner */
div#top-banner {
  position: absolute;
  margin: auto;
  display: grid;
  grid-template-areas: "avatar title";
  grid-gap: 5%;

  .avatar {
    grid-area: avatar;
    min-width: 200px;
    max-width: 300px;
    width: 100%;
    margin: auto;
    grid-area: avatar;
    border: 0.25rem solid;
    border-radius: 50%;
    @include themed(){
      border-color: t($border);
    }
  }

  .title {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    grid-area: title;
    @include themed(){
      color: t($text);
    }

    .social-media {
      text-align: center;
      :nth-child(2) {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
h1,h2{
  font-weight: 500;
  margin: 0;
  text-align: center;
}
h2{
  font-size: 1.75rem;
}
h2{
  font-size: 1.25rem;
}
    .first-name{
      @include themed(){
        color: t($border);
      }
    }
  }
}
hr {
  border: none; /* Remove default border */
  height: 2px; /* Set the height of the line */
  margin-top: -5px;
  @include themed(){
    background-color: t(border);
  }
}
/*Section*/
section {
  padding: 2rem 0;
  margin-bottom: 3rem;
  > h3 {
    display: block;
    padding: 0.5rem;
    text-align: center;
    width: max-content;
    min-width: 250px;
    font-weight: 500;
    margin-bottom: 0;
    border-radius: 15px 15px 0 0;
    @include themed(){
      background-color: t($card-bg);
      color: t($text);
    }
  }
  .wrapper {
    min-width: 250px;
    padding: 1rem 2rem;
    border-radius: 0 0 15px 15px;
    @include themed(){
      background-color: t($card-bg);
      color: t($text);
    }

  }
  .bi-chevron-compact-down,
  .bi-chevron-compact-up {
    font-size: 1.5rem;
  }
}

.progressbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .card-1,
  .card-2 {
    width: 45%;
    :nth-child(1) {
      padding-top: 0;
    }
  }

  .skill-bar-container {
    width: 100%;
    border-radius: 10pt;

    .skill {
      height: 10px;
      border-radius: 10pt;
    }
  }
}

#education {
  #educ {
    position: relative;
    .timeline {
      position: absolute;
      min-height: 0;
      top: 0;
      left: 0;
      width: 6px;
      border-radius: 6px;
      transition: height 0.5s ease-out;
      @include themed(){
        background-color: t($border);
      }
    }
    .circle-marker {
      position: relative;
      left: -51px;
      top: 32px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      @include themed(){
        background-color: t($border);
      }
    }
    .arrow {
      height: 0;
      width: 0;
      position: absolute;
      left: 22px;
      border-top: 22px solid;
      border-bottom: 22px solid;
      border-right: 22px solid;
      border-top-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
      @include themed(){
      border-right-color: t($card-bg-1);
      }
    }
  }

  .conteneur {
    width: calc(100% - 44px);
    margin-left: 44px;
    margin-bottom: 1rem;
    
    .expander {
      text-align: center;
      padding: 4px;
      border-radius: 0 20px 20px 0;
      h4{
        text-align: end;
        margin:0;
      }
      @include themed(){
        background-color: t($card-bg-1);
        color: t($text)
        }
      @include easeOutall;
      &:hover {
        cursor: pointer;
      }
    }
    .description {
      border-radius: 0 0 20px 20px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.15s ease-out;
      @include themed(){
        background-color: t($card-bg-1);
        }
      .logo {
        display: block;
        padding: 10px;
        max-height: 100px;
        height: auto;
        margin: auto;
      }
      .uf {
        display: flex;
        justify-content: space-around;
        .uf_logo,
        .sc_logo {
          height: 80px;
        }
      }
    }
  }
}



#publication {
  .pub-list {
    margin: 0;
    list-style-type: none;
  }
}


#extra {
  .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2rem;

    .col1{
      flex: 0 0 30%;
      font-weight: bold;
    }

    :nth-child(2){
      font-weight: 500;
    }
    .col2 {
      flex: 0 0 70%;
    }
  }
}

#project {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    width: 100%;

    .project {
      min-width: 240px;
      width: 45%;
      max-width: 500px;
      margin-bottom: 2rem;
      
      &-title {
        padding: 0.25rem 0.5rem;
        a{
          display: block;
          text-decoration: none;
        }
      }
      &-thumb {
        position: relative;
        width: 100%;
        min-height: 200px;
        max-height: 500px;
        height: auto;
        
        
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        height: max-content;
        @include themed(){
          background-color: t($card-bg-2);
        }
        i{
          display: block;
          font-size: clamp(8rem, 100%, 10rem);
        }
      }
      &-year {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 0.1rem;
        opacity: 0;
        transition: opacity 1s ease-out;
        text-align: center;
        font-weight: 600;

      }
      :hover > .project-year {
        display: block;
        opacity: 1;
        transition: opacity 1s ease-in;
      }

      &-expander {
        text-align: center;
      }
      &-description {
        max-height: 0;
        overflow: hidden;
        text-align: justify;
        transition: max-height 1s linear;
        font-size: small;
        p{
          padding:0 10px;
        }
      }
    }
  }
}

section#contactme{
  label {
    display: block;
  }
  label::after{
    content: '*';
    color: red;
    margin-left: 10px;
  }
  
  input,
  textarea {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    @include themed(){
      border: 1px solid t($border);
    }
    background-color: rgba(255, 255, 255, 0);
  
    &:focus {
      @include themed(){
      outline: none;
      box-shadow: 0 0 5px t($link);
      }
    }
  }
  
  textarea {
    height: 150px; 
  }
  
  button {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 50%;
    display: block;
    margin: auto;
    @include themed(){
      border: 1px solid t($border);
    }
  
    &:hover {
      cursor: pointer;
      @include themed(){
        outline: none;
        border-color: t($border) ;
        box-shadow: 0 0 5px t($link);
        }
    }
  }
  .error {
    border: 1px solid red;
    box-shadow: 0 0 5px red;

  }
}

footer.footer{
  padding: 1rem 3rem;
  @include themed(){
    color: t($footer-text);
    background-color: t($footer-bg);
  }
  ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    li{
      margin-bottom: 1rem;
      a{
        @include themed(){
          color: t($footer-text);
        }
      }
    }
    &:nth-child(4){
      margin-bottom: 0;
    }
  }
}

@import "screen";