@import 'config';
@import 'menu';


* {
    box-sizing: border-box;
}

body {
    @include background;
    margin: 0;
    padding: 0;
    height: 100vh;
    color: set-text-color($primary-color);
    line-height: 1.5;
    background-color: #444;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/*headings*/
h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;

    &.lg-title {
        font-size: 2.5rem;
    }

    &.md-title {
        font-size: 2rem;
        background-color: lighten($primary-color, 0.5);
    }

    &.sm-title {
        font-size: 1rem;
    }
}




/* navigation menu*/
nav {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;

    a {
        @include whiteLink;
    }
}

.first-name{
    font-weight: 600;
    color: $secondary-color;
}

/*Home*/
main#home {
    display: flex;
    height: 100%;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: center;

    
    .title {

        a {
            margin-top: 5px;
            display: inline-block;
            @include whiteLink;
            font-size: 2rem;

            &:hover {
                transform: scale(1.5);
                color: $secondary-color;
                @include easeOutall();
            }
        }
    }
}


main#about{
    width: 75%;
    min-height: 100vh;
    margin: auto;
    padding-top: 3rem;

    h1{
        font-size: 1.5rem;
    }
    h2{
        font-size: 1rem;
    }

    h3{
        font-size: 0.9rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }
    p{
        margin-bottom: 2rem;
    }
}


 .about{
    display: grid;
    grid-gap:30px;
    grid-template-areas: 
    "avatar bio bio"
    "job1 job2 job3"
    ;
    grid-template-columns: repeat(3,fr);

    .avatar{
        grid-area: avatar;
        min-width: 200px;
        max-width: 300px;
        width: 100%;
        margin: auto;
        border-radius: 50%;
        border: 5px solid $secondary-color;
    }

    .bio{
        grid-area: bio;
    }

    .job{
        text-align: justify;
        background-color: lighten($primary-color,5);
        padding: 1rem;
        &-1{
            grid-area: job1;
        }
        &-2{
            grid-area: job2;
        }
        &-3{
            grid-area: job3;
        }
    }

 }


 @import 'screen';