@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  margin: 0;
  padding: 0;
  height: 100vh;
  color: set-text-color($primary-color);
  line-height: 1.5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/*headings*/
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-title {
    font-size: 2.5rem;
  }

  &.md-title {
    font-size: 2rem;
    background-color: lighten($primary-color, 0.5);
  }

  &.sm-title {
    font-size: 1rem;
  }
}

/*Home*/

#particle {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Banner with the name and avatar */
div#top-banner {
  position: absolute;
  margin: auto;
  display: grid;
  grid-template-areas: "avatar title";
  grid-gap: 5%;

  .avatar {
    grid-area: avatar;
    min-width: 200px;
    max-width: 300px;
    width: 100%;
    margin: auto;
    border-radius: 50%;
    border: 5px solid $secondary-color;
    grid-area: avatar;
  }

  .title {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    grid-area: title;

    .lg-title {
      font-size: clamp(2rem, 2vw, 2.5rem);
    }

  /*firstname higlight */ 
  .first-name {
    font-weight: 600;
    color: $secondary-color;
  }
    .social-media {
      :nth-child(2) {
        padding-left: 1rem;
        padding-right: 1rem;
      }
      a {
        display: inline-block;
        @include whiteLink;
        font-size: 2rem;

        &:hover {
          transform: scale(1.5);
          color: $secondary-color;
          @include easeOutall();
        }
      }
    }
  }

}

/* container */
.container {
  min-width: 250px;
  width: 75%;
  max-width: 960px;
  margin: auto;
}
/* Global setting for section*/
section {
  padding: 2rem 0;
  margin-bottom: 3rem;
  > h3 {
    display: block;
    background-color: $third-color;
    padding: 0.5rem;
    text-align: center;
    width: max-content;
    min-width: 250px;
    font-weight: 500;
    border-radius: 15px 15px 0 0;
  }

  .wrapper {
    min-width: 250px;
    padding: 1rem 2rem;
    background-color: lighten($fourth-color, 5);
    color: set-text-color(lighten($fourth-color, 5));
    border-radius: 0 0 15px 15px;
  }
  .bi-chevron-compact-down,.bi-chevron-compact-up{
    font-size: 1.5rem;
  }
}

section#intersts,
section#skills {
  .progressbar {
    width: 100%;;
    display: flex;
    justify-content: space-between;

    h4 {
      margin: 0;
      padding: 0.75rem 0;
      font-weight: 550;
    }
    .card-1,
    .card-2  {
      width: 45%;
      :nth-child(1){
        padding-top: 0;
      }
    }

  }
}
.skill-bar-container {
  width: 100%;
  background-color: #808080;
  border-radius: 10pt;

  .skill {
    height: 10px;
    border-radius: 10pt;
  }
}

/* Education */
section#education {
  #educ {
    position: relative;
    .timeline {
      position: absolute;
      background-color: yellow;
      min-height: 0;
      top: 0.75rem;
      left: 0;
      width: 6px;
      border-radius: 6px;
      transition: height 0.5s ease-out;
    }
    .circle-marker {
      position: relative;
      left: -51px;
      top: 32px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: yellow;
    }
    .arrow {
      height: 0;
      width: 0;
      position: absolute;
      left: 21.5px;
      border-top: 22px solid transparent;
      border-bottom: 22px solid transparent;
      border-right: 22px solid $third-color;
    }
  }

  .conteneur {
    width: calc(100% - 44px);
    margin-left: 44px;
    margin-bottom: 1rem;
    max-height: 250px;

    .expander {
      background-color: $third-color;
      text-align: center;
      padding: 4px;
      border-radius: 0 20px 20px 0;
      @include easeOutall;
      &:hover {
        cursor: pointer;
      }
      h4 {
        font-weight: 500;
        margin: 0;
        padding: 0;
      }
    }
    .description {
      background-color: white;
      border-radius: 0 0 20px 20px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.15s ease-out;
      .logo {
        display: block;
        padding: 10px;
        max-height: 100px;
        height: auto;
        margin: auto;
      }
      .uf {
        display: flex;
        justify-content: space-around;
        .uf_logo,
        .sc_logo {
          height: 80px;
        }
      }
    }
  }
}

section#publication {
  .pub-list {
    margin: 0;
    list-style-type: none;
    a {
      color: set-text-color($primary-color);
    }
  }
}

section#project {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    width: 100%;

    .project {
      min-width: 240px;
      width: 45%;
      max-width: 500px;
      margin-bottom: 2rem;
      &-title {
        background-color: gray;
        padding: 0.25rem 0.5rem;
        a{
          display: block;
          text-decoration: none;
          color: set-text-color(gray);
        }
      }
      &-thumb {
        position: relative;
        width: 100%;
        min-height: 200px;
        max-height: 500px;
        height: auto;
        background-color: darken(gray, 10);
        
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        height: max-content;
        i{
          display: block;
          font-size: clamp(8rem, 100%, 10rem);
        }
      }
      &-year {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 0.25rem;
        background-color: $secondary-color;
        color: set-text-color($secondary-color);
        font-weight: 500;
        opacity: 0;
        transition: opacity 2s ease-out;
      }
      :hover > .project-year {
        display: block;
        opacity: 1;
        transition: opacity 2s ease-in;
      }

      &-expander {
        text-align: center;
      }
      &-description {
        max-height: 0;
        overflow: hidden;
        text-align: justify;
        transition: max-height 1s linear;
      }
    }
  }
}

section#extra {
  .wrapper{
  .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2rem;

    .col-md-3 {
      flex: 0 0 30%;
      font-weight: bold;
    }

    :nth-child(2){
      font-weight: 500;
    }
    .col-md-9 {
      flex: 0 0 70%;
    }
  }
}
}


section#contactme{
  label {
    display: block;
  }
  label::after{
    content: '*';
    color: red;
    margin-left: 10px;
  }
  
  input,
  textarea {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    border: 2px solid $third-color;
    background-color: rgba(255, 255, 255, 0);
  
    &:focus {
      outline: none;
      border-color: $secondary-color;
      box-shadow: 0 0 5px $secondary-color;
    }
  }
  
  textarea {
    height: 150px; /* Set a specific height for the textarea */
  }
  
  button {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 50%;
    display: block;
    margin: auto;
    background-color: $third-color;
    border: none;
  
    &:hover {
      background-color: $secondary-color; 
      color: set-text-color($secondary-color);
    }
  }
  
  .error {
    border: 1px solid red;
    box-shadow: 0 0 5px red;
  }
}


@import "screen";
