* {
  box-sizing: border-box;
}

.secondary-text {
  color: #ff0;
}

.text-center {
  text-align: center;
}

/* menu button*/
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.menu-btn > .menu-btn-line {
  border-radius: 2px;
  width: 35px;
  height: 3px;
  margin: 0 0 5px 0;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}
.menu-btn:hover > .menu-btn-line {
  background-color: #ff0;
}
.menu-btn.close {
  transform: rotate(-90deg);
}
.menu-btn.close :nth-child(1) {
  border-radius: 2px;
  width: 2.2rem;
  transform: rotate(45deg) translateX(0.375rem) translateY(0.74rem);
}
.menu-btn.close :nth-child(2),
.menu-btn.close :nth-child(3) {
  opacity: 0;
}
.menu-btn.close :nth-child(4) {
  width: 2.2rem;
  border-radius: 2px;
  transform: rotate(-45deg) translateX(0.35rem) translateY(-0.7rem);
}

.menu {
  position: fixed;
  top: 0;
  opacity: 0.9;
  visibility: hidden;
  display: flex;
  flex-flow: row column;
  transition: all 0.5s ease-in-out;
}
.menu.show {
  visibility: visible;
  transition: all 0.5s ease-in-out;
}
.menu-avatar, .menu-nav {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.menu-nav {
  margin: 0;
  padding: 0;
  background-color: #373737;
  transform: translate3d(0, -100%, 0);
  transition: all 0.5s ease-in-out;
}
.menu-nav-item {
  list-style-type: none;
}
.menu-nav.show {
  transform: translate3d(0, 0, 0);
}
.menu-avatar {
  background-color: #444;
  transform: translate3d(0, 100%, 0);
  transition: all 0.5s ease-in-out;
}
.menu-avatar.show {
  transform: translate3d(0, 0, 0);
}
.menu-avatar .avatar {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  background-image: url(../img/photo.webp);
  background-clip: border-box;
  background-size: 100%;
  border: 2px #ff0 solid;
  background-repeat: no-repeat;
  transform: translateX(-150%);
  opacity: inherit;
  transition: all 0.5s ease-in-out;
}
.menu-avatar.show .avatar {
  transition-delay: 0.2s;
  transform: translateX(0);
}
.menu-nav-item {
  transform: translateX(50vw);
  transition: all 0.5s ease-in-out;
  margin-bottom: 10px;
}
.menu-nav-item.show {
  transform: translateX(0);
}
.menu-nav-item.active > a {
  color: #ff0;
}
.menu .nav-link {
  display: inline-block;
  padding-top: 0.25rem;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}
.menu .nav-link:hover {
  color: #ff0;
}

.menu-nav-item:nth-child(1) {
  transition-delay: 0.2s;
}

.menu-nav-item:nth-child(2) {
  transition-delay: 0.4s;
}

.menu-nav-item:nth-child(3) {
  transition-delay: 0.6s;
}

.menu-nav-item:nth-child(4) {
  transition-delay: 0.8s;
}

.menu-nav-item:nth-child(5) {
  transition-delay: 1s;
}

.menu-nav-item:nth-child(6) {
  transition-delay: 1.2s;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  color: #fff;
  line-height: 1.5;
  background-color: #444;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.anim {
  transition: all 0.5s ease-in-out;
}

/*headings*/
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}
h1.lg-title,
h2.lg-title,
h3.lg-title {
  font-size: 2.5rem;
}
h1.md-title,
h2.md-title,
h3.md-title {
  font-size: 2rem;
  background-color: #454545;
}
h1.sm-title,
h2.sm-title,
h3.sm-title {
  font-size: 1rem;
}

/* navigation menu*/
nav {
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}
nav a {
  color: #fff;
  text-decoration: none;
}

.first-name {
  font-weight: 600;
  color: #ff0;
}

/*Home*/
#particle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

div#top-banner {
  position: absolute;
  margin: auto;
  display: grid;
  grid-template-areas: "avatar name";
  grid-template-columns: repeat(2, fr);
  grid-gap: 5%;
}
div#top-banner .title {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
div#top-banner .title .social-media :nth-child(2) {
  padding-left: 1rem;
  padding-right: 1rem;
}
div#top-banner .title .social-media a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
}
div#top-banner .title .social-media a:hover {
  transform: scale(1.5);
  color: #ff0;
  transition: all 0.5s ease-in-out;
}
div#top-banner .avatar {
  grid-area: avatar;
  min-width: 200px;
  max-width: 300px;
  width: 100%;
  margin: auto;
  border-radius: 50%;
  border: 5px solid #ff0;
}

.container {
  width: 80%;
  margin: auto;
}

section#intersts .progressbar,
section#skills .progressbar {
  display: grid;
  grid-gap: 5%;
  grid-template-areas: "c1 c2";
}
section#intersts .progressbar .card-1,
section#skills .progressbar .card-1 {
  grid-area: c1;
}
section#intersts .progressbar .card-2,
section#skills .progressbar .card-2 {
  grid-area: c2;
}

.skill-bar-container {
  width: 100%;
  background-color: gray;
  border-radius: 3pt;
}
.skill-bar-container .skills {
  height: 5px;
}
.skill-bar-container .s90 {
  width: 90%;
}
.skill-bar-container .s80 {
  width: 80%;
}
.skill-bar-container .s65 {
  width: 65%;
}
.skill-bar-container .s60 {
  width: 60%;
}
.skill-bar-container .s50 {
  width: 50%;
}
.skill-bar-container .b1 {
  background-color: #e44d26;
}
.skill-bar-container .b2 {
  background-color: #264de4;
}
.skill-bar-container .b3 {
  background-color: #306998;
}
.skill-bar-container .b4 {
  background-color: #f0db4f;
}

/* Education */
section#education h3 {
  text-align: center;
  margin-bottom: 2rem;
}
section#education .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
section#education .conteneur {
  width: 95%;
  margin-bottom: 1rem;
  border-radius: 5px;
  max-height: 250px;
}
section#education .conteneur .header {
  background-color: #306998;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
}
section#education .conteneur .header:hover {
  cursor: pointer;
}
section#education .conteneur .header h4 {
  font-weight: 500;
  margin: 0;
  padding: 0;
}
section#education .conteneur .description {
  background-color: white;
  border-radius: 0 0 20px 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}
section#education .conteneur .description .logo {
  display: block;
  padding: 10px;
  max-height: 100px;
  height: auto;
  margin: auto;
}
section#education .conteneur .description .uf {
  display: flex;
  justify-content: space-around;
}
section#education .conteneur .description .uf .uf_logo, section#education .conteneur .description .uf .sc_logo {
  height: 80px;
}

@media screen and (max-width: 768px) {
  div#top-banner {
    grid-template-areas: "avatar" "name";
    grid-template-columns: repeat(1, fr);
  }
  div#top-banner .avatar {
    min-width: 100px;
    max-width: 200px;
    width: 100%;
    margin: auto;
    border-radius: 50%;
    border: 5px solid #ff0;
  }
  div#top-banner .title {
    text-align: center;
  }
  div#top-banner .title .lg-title {
    font-size: clamp(2rem, 2.5rem, 5%);
  }
  main {
    align-items: center;
    text-align: center;
  }
  .menu {
    height: 100%;
    flex-direction: column;
  }
  .menu-nav {
    transform: translate3d(-100vw, 0, 0);
  }
  .menu-avatar {
    transform: translate3d(100vw, 0, 0);
    min-height: 250px;
    height: 260px;
  }
  .menu-avatar .avatar {
    width: 200px;
    height: 200px;
    background-size: 100%;
    background-position: center;
  }
  .menu-nav-item {
    transform: translateY(100vw);
  }
  .menu-nav-item.show {
    transform: translateY(0);
  }
  .menu-nav, .menu-avatar {
    width: 100%;
  }
  .menu-nav.show, .menu-avatar.show {
    transform: translate3d(0, 0, 0);
  }
  section#intersts .progressbar, section#skills .progressbar {
    display: grid;
    grid-gap: 5%;
    grid-template-areas: "c1" "c2";
  }
  section#intersts .progressbar .card-1, section#skills .progressbar .card-1 {
    grid-area: c1;
  }
  section#intersts .progressbar .card-2, section#skills .progressbar .card-2 {
    grid-area: c2;
  }
}
@media screen and (max-width: 500px) {
  main#home .lg-title {
    font-size: 1.5rem;
  }
  main#home .sm-title {
    font-size: 0.9rem;
  }
  .container {
    width: 100%;
    margin: auto;
  }
}

/*# sourceMappingURL=main.css.map */
