.text-justify {
  text-align: justify;
}

/* *{
    border: 1px green dashed;
} */


.banner {
  height: 25vh;
}

.navbar-brand {
  height: 50px;
  width: 50px;
  background-color: green;
  border: 1px solid white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-weight: bolder;
  color: white;
  border-radius: 100%;
  margin-right: 10px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

#name::after {
  content: "";
  width: 100%;
  height: 100%;
  border-right: 2px solid white;
  animation: blink 500ms infinite;
}

#canvas1 {
  background-image: url(../img/bgBanner.webp);
  background-color: rgba(0, 0, 0, 0.5);
  background-size: auto;
  background-position: top center;
  background-repeat: repeat-x;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 25vh;
  z-index: -2;
}

body{
  background-image: url(../img/bg.png);
}

main .row{
  background-color: rgba(255, 255, 255, 0.884) !important;
  z-index: 100;
}


#pdf-modal .modal-dialog {
  max-width: 90%;
}

@media (min-width: 992px) {
  #pdf-modal .modal-dialog {
    max-width: 800px;
  }
}

#pdf-iframe {
  width: 100%;
  height: 500px;
}

.skilc{
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
}
.skills {
  text-align: right; /* Right-align text */
  padding-top: 2px; /* Add top padding */
  padding-bottom: 2px; /* Add bottom padding */
  color: white; /* White text color */
  font-size: 10pt;
}

.s90 {width: 90%;}
.s80 {width: 80%;}
.s65 {width: 65%;} 
.s60 {width: 60%;} 
.s50 {width: 50%;}

.b1 {
  background-color: #E44D26;
}

.b2 {
  background-color: #264DE4;
}

.b3 {
  background-color: #306998;
}

.b4 {
  background-color: #F0DB4F;
}