<footer class="container">
  <div class="row">
    <ul class=" col-12  footer-icons list-inline mb-3">
      {{ range $.Site.Params.social }}
    <li>
      <a href="{{ .link | safeURL }}" target="_blank" rel="noreferrer"
        ><i class="{{ .icon }} footer-icon fa-2x" aria-label="{{ .alt }}"></i
      ></a>
    </li>
    {{end}}
    </ul>
    <div class="col-12 text-center pb-5">
      {{ $.Site.Params.copyright | markdownify }}
      <span id="current-year"></span>
    </div>
  </div>
</footer>