{{ $lang := .Site.Language.Lang }}
{{ $hero := index .Site.Data.content.hero $lang }}
{{ $skills := index .Site.Data.content.skills }}
{{ $about := index .Site.Data.content.about $lang }}

<header id="home" class="min-h-screen flex flex-col items-center justify-center relative py-20 pt-32 md:pt-20">
    <canvas id="particle" class="absolute inset-0 w-full h-full z-0 " aria-label="Waves canvas"></canvas>

    <div class="container mx-auto px-4 sm:px-6 lg:px-8 z-10 flex flex-col justify-center flex-grow">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 items-center">
            <div class="flex flex-col space-y-4 text-center md:text-left">
                <div>
                    <h1 class="text-3xl sm:text-4xl font-bold text-foreground mb-2">
                        {{ $hero.name | markdownify | emojify }}
                    </h1>
                    <strong class="flex items-center justify-center md:justify-start text-lg sm:text-xl text-muted h-8">
                        <span id="typing-text"
                              class="typing-text inline-block whitespace-nowrap overflow-hidden max-w-full"></span>
                    </strong>
                    <div id="typing-data" class="hidden">
                        {{ range $element := $hero.occupations }}
                        <span>{{ $element }}</span>
                        {{ end }}
                    </div>
                </div>


                <div class="flex sm:flex-col space-y-4 flex-row sm:space-x-4 sm:space-y-0 items-center justify-center md:justify-start">
                    <p class="text-base sm:text-lg text-muted leading-relaxed mb-6">
                        {{ $about.content | markdownify | emojify }}
                    </p>
                    <a
                            href="{{ $about.button.link }}"
                            target="_blank"
                            rel="noreferrer"
                            download="Jean_Lucien_Randrianantenaina_CV_{{ $lang }}.pdf"
                            class="btn bg-primary hover:bg-primary/90 text-primary-foreground font-semibold py-2 px-4 rounded-lg flex items-center justify-center sm:justify-start transition duration-300 ease-in-out transform hover:-translate-y-1 w-full sm:w-auto"
                    >
                        {{ $about.button.label | markdownify }}
                        <i class="fa {{ $about.button.icon }} ml-2"></i>
                    </a>

                </div>
            </div>

            <div class="flex flex-col items-center sm:items-end space-y-4 mt-4 sm:mt-0">
                <div class="flex flex-col items-center gap-4">
                    <img class="mx-auto rounded-full w-32 sm:w-36 md:w-40 max-w-full object-cover border-2 border-border shadow-lg"
                         src="{{ $hero.image | relURL }}"
                         alt="{{ $hero.altpic }}"/>

                    <div class="w-full sm:w-auto ">
                        <div class="text-center text-muted mb-4">
                            <i class="{{ .Site.Params.location.icon }} mr-2 text-primary"></i>
                            <span>{{ .Site.Params.location.place }}</span>
                        </div>
                        <ul class="flex justify-center sm:justify-center space-x-6">
                            {{ range $.Site.Params.social }}
                            <li key={social.link}>
                                <a href={{ .link | safeURL }} target="_blank" rel="noreferrer"
                                   class="transition-colors duration-300 ease-in-out transform hover:scale-110
                                   {{.class}}"
                                ><i class="{{ .icon }} fa-2x"></i></a>
                            </li>
                            {{end}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="w-full max-w-5xl mx-auto z-10">
        {{ range $skills.sections }}
        <div class="mb-4">
            <div class="flex flex-wrap justify-center gap-3">
                {{ range .technologies }}
                <div class="flex items-center gap-2 px-3 py-1 bg-card rounded-lg hover:scale-105 transition-transform">
                    {{ if .icon }}
                    <img class="w-6 h-6 shrink-0"
                         src="https://cdn.simpleicons.org/{{ .icon }}/{{ .color }}"
                         alt="{{ .name }} logo"/>
                    {{ else if .svg }}
                    {{ .svg | safeHTML }}
                    {{ end }}
                    <span class="text-sm text-foreground">{{ .name }}</span>
                </div>
                {{end}}
            </div>
        </div>
        {{end}}
    </div>
</header>
