{{ "<!-- JS Plugins -->" | safeHTML }} {{ range .Site.Params.plugins.js }}
<script src="{{ .link | relURL }}"></script>
{{ end }} {{ "<!-- Main Scripts -->" | safeHTML }} {{ $script := resources.Get
"js/script.js" | minify }}
<script src="{{ $script.RelPermalink }}"></script>
{{ "<!-- Particle Scripts -->" | safeHTML }}
{{ $script := resources.Get "js/particle.js" | minify }}<script src="{{ $script.RelPermalink }}"></script>    
{{ $script := resources.Get "js/typing.js" | minify }}<script src="{{ $script.RelPermalink }}"></script>
