{{ range .Site.Params.plugins.js }}
<script src="{{ .link | relURL }}"></script>
{{ end }}

{{ $theme := resources.Get "js/theme.js" | minify }}
<script defer src="{{ $theme.RelPermalink }}"></script>
{{ $navigation := resources.Get "js/navigation.js" | minify }}
<script defer src="{{ $navigation.RelPermalink }}"></script>
{{ $contact := resources.Get "js/contact-form.js" | minify }}
<script defer src="{{ $contact.RelPermalink }}"></script>
{{ $site := resources.Get "js/site.js" | minify }}
<script defer src="{{ $site.RelPermalink }}"></script>
{{ $typing := resources.Get "js/typing.js" | minify }}
<script defer src="{{ $typing.RelPermalink }}"></script>
{{ $waves := resources.Get "js/waves.js" | minify }}
<script defer src="{{ $waves.RelPermalink }}"></script>

<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{{ partial "analytics.html" . }}
